:root {
    --card: rgba(255, 255, 255, 0.4);
    --text: rgba(128, 128, 128, 0.2);
    --button: darkred;
    --radius: 25px;
    --isetpadding: 2%;
    --width_half: 50%;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    background: linear-gradient(105deg, #14BCF1 0.43%, #0353A4 100%);
}

#oval {
    border: white solid 2px;
    border-radius: 100vh;
    height: 40vw;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


nav {
    height: 100%;
    width: 4%;
    position: fixed;
    z-index: 1;
    padding: var(--isetpadding);
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    position: relative;
}

section {
    height: 100%;
    padding: var(--isetpadding);
    scroll-snap-align: start;
}

section:nth-child(1) h1,
section:nth-child(2) h1,
section:nth-child(3) h1,
section:nth-child(4) h1,
section:nth-child(5) h1 {
    padding: 2%;
    text-align: center;
}

section:nth-child(2) {

}

section:nth-child(5) {
    background-color: #0353A4;
}

#edcontent,
#Scontent {
    height: fit-content;
    background: var(--card);
    border-radius: var(--radius);
    padding: var(--isetpadding);
}

#edcontent {
    width: var(--width_half);
    margin-left: auto;
}

#Scontent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4%;

}

#edconitem {
    padding: var(--isetpadding);
    display: grid;
    grid-template-columns: 200px auto;
}

#SconitemL {
    height: 500px;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 8%;


}

#SconitemR {

}


#name {
    font-size: 600%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#description {
    width: 100%;
    font-size: 200%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


a {
    width: 100px;
    transform: rotate(-90deg);
    align-items: center;
    text-align: center;
}
